DB_HOST=sampahku-db.cfyk8wgyqqvr.ap-southeast-1.rds.amazonaws.com
DB_NAME=sampahku-db
DB_USER=postgres
DB_PASS=Mariobros1
S3_BUCKET=sampahku-uploads-zill
AWS_REGION=ap-southeast-1
SECRET_KEY=zqLAPIULpgb8Jnl6q59PnHQlDAjgDfIkbJjOwXVO
